
<h1>Handling the Exceptions</h1>

<h3>Exception message:</h3>
 <%= @params[:exception].message %>

<h3>Preview:</h3>
<%= @params[:preview] %>

<h3>Stack Trace:</h3>
 <%= @params[:exception].backtrace %>
